@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

body, html {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    background-color: #97575F;
}

header {
    background-color: #D0959F; /* Soft pink, adjust as necessary */
    padding: 20px;
    text-align: center;
    position: relative;
}

nav {
    display: flex;
    justify-content: center;
    padding-bottom: 20px;
}

nav a {
    text-decoration: none;
    color: #9EB1A9;
    margin: 0 20px;
    font-weight: bold;
}

.banner {
    color: #BEDEDC;
    padding: 20px;
}

.profile-image {
    width: 200px;
    height: auto;
    border-radius: 50%; /* Circular image */
    border: 4px solid #fff; /* White border around the image */
    margin-top: -100px; /* Adjust as needed to overlay */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}

section {
    padding: 60px 20px;
    text-align: center;
}

.about-image {
    width: 100%;
    height: auto;
    max-width: 500px; /* Sets a maximum width for all images */
    display: block; /* Ensures the image does not have extra space around it */
    margin: 0 auto; /* Centers the image within the container */
    border-radius: 8px; /* Optional: rounds the corners of the images */
}

section {
    padding: 80px 20px;
    text-align: center;
    margin-top: 60px; /* To avoid overlap with fixed navbar */
}

h1, h2 {
    color: #333;
    margin-bottom: 20px;
}

.project {
    background-color: #ffffff;
    border-radius: 8px;
    padding: 20px;
    margin: 20px 0;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
    text-align: left;
}

.project img {
    width: 100%;  
    height: auto; 
    max-width: 300px; 
    display: block; 
    margin: 0 auto; 
    border-radius: 8px; 
}


.skills ul {
    list-style: none;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
}

.skills li {
    background-color: #6D7365;
    padding: 10px;
    border-radius: 5px;
}

footer {
    text-align: center;
    padding: 20px;
    background-color: #D0959F;
    margin-top: 20px;
}

/* Responsive adjustments */
@media (max-width: 768px) {
    .skills ul {
        grid-template-columns: 1fr 1fr; /* Adapt grid for smaller screens */
    }
}
